@model IEnumerable<ProyectoRestauranteSabordeCasa.Models.UsuarioModel>

@{
    ViewData["Title"] = "Listado";
}

<div class="card bg-light border border-succes">
    <div class="card-header">
        <h4 class="text-center fw-bold text-white fst-italic border py-2" style="background-color: #117A65">Listado de Usuarios</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered border-success border border-2 table-hover" id="tableUsuario">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RolCargo)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RolCargo)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
$(document).ready(function() {
    $('#tableUsuario').DataTable();
});
    </script>
<script>
    $(document).ready(function() {
    $('#tableUsuario').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
        };
    });
});
</script>
}